# =========================
# Python virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Processed feature data
# =========================
processed/

# =========================
# Generated NumPy files
# =========================
*.npy

# =========================
# Duplicate final model
# =========================
models/songnet_final.keras

# =========================
# Audio files
# =========================
*.mp3
*.wav
*.flac
*.m4a

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db